<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" fxFlexFill>
  <app-page>
    <h1 app-page-header>Settings</h1>

    <div formGroupName="radaar">
      <h3>Radaar Settings</h3>
      <mat-form-field>
        <input matInput placeholder="Radaar API key" formControlName="api_key">
      </mat-form-field>
    </div>

    <div formGroupName="sonaar">
      <h3>Sonaar Settings</h3>
      <mat-form-field>
        <input matInput placeholder="Sonaar API key" formControlName="api_key">
      </mat-form-field>
    </div>

    <button app-page-footer mat-raised-button color="primary" type="submit" [disabled]="!settingsForm.valid">Submit</button>
  </app-page>
</form>
