<form [formGroup]="settingsForm" novalidate (ngSubmit)="onSubmit()" fxFlexFill>
  <app-page>
    <h1 app-page-header>Settings</h1>

    <h3>Radaar Settings</h3>
    <mat-form-field>
      <input matInput placeholder="Radaar API key" formControlName="radaarApiKey">
    </mat-form-field>

    <h3>Sonaar Settings</h3>
    <mat-form-field>
      <input matInput placeholder="Sonaar API key" formControlName="sonaarApiKey">
    </mat-form-field>

    <button app-page-footer mat-raised-button color="primary" type="submit">Submit</button>
  </app-page>
</form>
